<article class="card-body">
  <div class="row">
    <div class="col-md-12">
      <h4 [innerHtml]="pageHeading"></h4>
      <hr>
    </div>
  </div>
  <div [hidden]="!failed" class="alert alert-danger" role="alert">
    <p [innerHtml]="message"></p>
  </div>
  <div [hidden]="!success" class="alert alert-success" role="alert">
    {{ message }}
  </div>
  <form (ngSubmit)="onSubmit()">

      <div class="form-row">
          <div class="col form-group">
            <label>Product Id</label>
            <input type="text" class="form-control" required [(ngModel)]="product.productId" name="productId">
          </div>
        </div>

    <div class="form-row">
      <div class="col form-group">
        <label>Name</label>
        <input type="text" class="form-control" required [(ngModel)]="product.name" name="name">
      </div>
    </div>
    <div class="form-row">
      <div class="col form-group">
        <label>Description</label>
        <textarea [(ngModel)]="product.description" id="description" name="description" cols="40" rows="4" class="form-control"></textarea>
      </div>

    </div>

    <div class="form-row">
        <div class="col form-group">
          <label>Price</label>
          <input type="text" class="form-control" required [(ngModel)]="product.price" name="price">
        </div>
      </div>
    <!--Category-->
    <div class="form-group">
      <label for="categoryType">Category</label>
      <select class="custom-select custom-select-lg " id="categoryType" name="categoryType"
              [(ngModel)]="product.categegory"
              required>
        <option [ngValue]=1>Electronics</option>
        <option [ngValue]=2>Computer</option>
        <option [ngValue]=3>Fashion</option>
        <option [ngValue]=4>Building Tools</option>
        <option [ngValue]=5>Building Tools</option>
        <option [ngValue]=6>Jewellery</option>s
      </select>
    </div>
    <!-- form-group end.// -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block"> Save </button>
    </div>
    <!-- form-group// -->

  </form>
  <!--</div>-->

</article>
