<div class="panel panel-default">
  <div class="panel-heading">
    <h1>List of All Registered Patients</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Patient Number</th>
          <th>IsAnOutPatient</th>
          <th>FullNames</th>
          <th>ContactPhoneNumber</th>
          <th>EmailAddress</th>
          <th>DateOfBirth</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients | async">
          <td>{{patient.patientNumber}}</td>
          <td>{{patient.isAnOutPatient}}</td>
          <td>{{patient.fullNames}}</td>
          <td>{{patient.contactPhoneNumber}}</td>
          <td>{{patient.emailAddress}}</td>
          <td>{{patient.dateOfBirth}}</td>
          <td><button (click)="deletePatient(patient.patientId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

