<link rel="stylesheet" href="sweetalert2/dist/sweetalert2.css">

<script type="module">
    import Swal from 'sweetalert2/src/sweetalert2.js'
</script>
<div class="product-container">

    <div class="product-img-container">
        <img src="http://placehold.it/700x400" alt="product">
    </div>

    <div class="product-desc-container" *ngIf="dataLoaded | async">
        <h3>{{product.title}}</h3>
        <div>
            <span>{{product.summary}}</span>
        </div>
        <div>
            <b> Product Number:</b> <span>{{product.productNumber}}</span>
        </div>
        <div>
            <b>Product Name</b>: <span>{{product.title}}</span>
        </div>
        <div>
            <b>Product Price</b>: <span>$ {{product.price}}</span>
        </div>
        <div>
            <b>Sold By</b>: <span>{{product.merchant.bizName}}</span>
        </div>
        <div>
            <b>Quantity</b>: <span><input [(ngModel)]="quantity" type="number" class="form-control" id="quantity" name="quantity" value="" style="width: 100px !important; display: inline;" placeholder="1" required ></span>
        </div>
        <div>
            <button type="button" [swal]="['Success!', 'Add to cart successfully', 'success']" class="btn btn-primary" (click)= addProductToCart(product.id) >Add to card</button>
        </div>
        <div class="add-to-card-container">
            <!-- <div class="select-container">
                <b>Quantity</b>
                <select class="custom-select" [(ngModel)]="quantity">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)= addProductToCart(product.id) >Add to card</button>
            </div> -->
            <h5>Description</h5>
            <div>
                {{product.description}}
            </div>
        </div>
        

    </div>
</div>
