<h1 align="center" class="display-4 mb-5">Orders</h1>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Order #</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Shipping Address</th>
        <th scope="col">Date</th>
        <th scope="col">Paid</th>
        <th scope="col">Tax</th>
        <th scope="col">Discount</th>
        <th scope="col">Total Price </th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let order of page?.content">
        <th class="align-middle" scope="row">
            {{order.orderID}}
        </th>
        <td class="align-middle">{{order.buyer.firstName}}</td>
        <td class="align-middle">{{order.buyer.username}}</td>
        <td class="align-middle">
            {{order.buyer.shippingAddress?.streetAddress}},
            {{order.buyer.shippingAddress?.city}},
            {{order.buyer.shippingAddress?.state}},
            {{order.buyer.shippingAddress?.zipCode}}
        </td>
        <td class="align-middle">{{order.date | date}}</td>
        <td class="align-middle">{{order.paid}}</td>
        <td class="align-middle">{{order.tax | currency}}
        <td class="align-middle">{{order.totalDiscount}}</td>
        <td class="align-middle">{{order.totalPrice | currency}}</td>
        <td class="align-middle">
            <a *ngIf="!(currentUser.role == Role.Buyer && currentUser.name == order.buyerEmail)"
               style="display:
            block" href="" routerLink="/order/{{order.orderID}}">
                Show</a>
            <a *ngIf="order.orderStatus == 0" style="display: block" (click)="cancel(order)" routerLink="./">Cancel</a>
            <a *ngIf="currentUser.role != Role.Buyer && order.orderStatus == 0"
               style="display: block"
               (click)="finish(order)"
               routerLink="./">
                Finish</a>
        </td>
    </tr>
    </tbody>
</table>

<app-pagination [currentPage]="page"></app-pagination>
