<h5 class="display-4 mb-5">List Not Approved Merchants</h5>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">ID #</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <!-- <th scope="col">Shipping Address</th> -->
        <th scope="col">Business Name</th>
        <th scope="col">PhoneNumber 1</th>
        <!-- <th scope="col">PhoneNumber2</th> -->
        <!-- <th scope="col">Identity Proof</th> -->
        <th scope="col">approved</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let merchant of page?.content; let i = index;">
        <th class="align-middle" scope="row">
            {{i+1}}
        </th>
        <td class="align-middle">{{merchant.firstName}}</td>
        <td class="align-middle">{{merchant.username}}</td>
        <!-- <td class="align-middle">
            {{merchant.officeAddress?.streetAddress || "--"}},
            {{merchant.officeAddres?.city || "--"}},
            {{merchant.officeAddress?.state || "--"}},
            {{merchant.officeAddress?.zipCode || "--"}}

        </td> -->
        <td class="align-middle">{{merchant?.bizName}}</td>
        <td class="align-middle">{{merchant?.officePhoneNumber1}}</td>
        <!-- <td class="align-middle">{{merchant?.officePhoneNumber2}}</td>
        <td class="align-middle">{{merchant?.identityProof}}</td> -->
        <td class="align-middle">{{merchant?.approved}}</td>
        <td class="align-middle">
            <a *ngIf="(currentUser.role == Role.Admin)"
               style="display:
            block" href="" routerLink="/users/{{merchant.username}}">
                View</a> &nbsp; &nbsp;
            <a  href="/admin/merchant" (click)="approve(merchant)">Approve</a>
        </td>
    </tr>
    </tbody>
</table>

<app-pagination [currentPage]="page"></app-pagination>
